<header>
    <a id="logo" href="#"></a>
    <ul>
        <li>
            <a href="#">주문관리</a>
            <ul>
                <li><a href="#">전체조회</a></li>
            </ul>
        </li>
        <li>
            <a href="#">상품관리</a>
            <ul>
                <li><a href="/admin/product/index">목록조회</a></li>
                <li><a href="/admin/product/insert">상품등록</a></li>
            </ul>
        </li>
        <li>
            <a href="#">게시판관리</a>
            <ul>
                <li><a href="/admin/notice/index">공지사항</a></li>
                <li><a href="/admin/qna/index">상품문의</a></li>
                <li><a href="/admin/review/index">리뷰</a></li>
            </ul>
        </li>
        <li>
            <a href="#">회원관리</a>
            <ul>
                <li><a href="/admin/user/index">전체조회</a></li>
            </ul>
        </li>
    </ul>
    <div id="iconBox" style="visibility: hidden;">
        <ul>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
                <ul>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">주문조회</a></li>
                    <li><a href="#">장바구니(<span>0</span>)</a></li>
                    <li><a href="#">최근본상품(<span>12</span>)</a></li>
                </ul>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
</header>
<div xmlns:th="http://www.w3.org/1999/xhtml" id="notice" th:if="${msg}">
    <div>
        <p th:text="${msg}"></p>
        <a>확인</a>
    </div>
</div>