<header>
    <a id="logo" href="#"></a>
    <ul>
        <li>
            <a href="#">주문관리</a>
            <ul>
                <li><a href="#">전체조회</a></li>
            </ul>
        </li>
        <li>
            <a href="#">상품관리</a>
            <ul>
                <li><a href="/admin/product/index">목록조회</a></li>
                <li><a href="/admin/product/insert">상품등록</a></li>
            </ul>
        </li>
        <li>
            <a href="#">게시판관리</a>
            <ul>
                <li><a href="/admin/notice/index">공지사항</a></li>
                <li><a href="/admin/qna/index">상품문의</a></li>
                <li><a href="/admin/review/index">리뷰</a></li>
            </ul>
        </li>
        <li>
            <a href="#">회원관리</a>
            <ul>
                <li><a href="/admin/user/index">전체조회</a></li>
            </ul>
        </li>
    </ul>
    <div id="iconBox">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
</header>