<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <a id="logo" href="/"></a>
    <ul>
        <li>
            <a href="/etc/brand">브랜드</a>
        </li>
        <li>
            <a href="#" onclick="return false;">상품</a>
            <ul>
                <li><a href="#">크로스백</a></li>
                <li><a href="#">숄더백</a></li>
                <li><a href="#">클러치</a></li>
                <li><a href="#">지갑</a></li>
                <li><a href="#">백팩</a></li>
            </ul>
        </li>
        <li>
            <a href="#" onclick="return false;">커뮤니티</a>
            <ul>
                <li><a href="/noticeList">공지사항</a></li>
                <li><a href="/qnaList">상품문의</a></li>
                <li><a href="#">리뷰</a></li>
            </ul>
        </li>
    </ul>
    <div id="iconBox">
        <ul>
            <li>
                <a href="#" onclick="return false;"></a>
            </li>
            <li>
                <a href="#" onclick="return false;"></a>
                <ul>
                    <li><a href="/login" sec:authorize="isAnonymous()">로그인</a></li>
                    <li><a href="/join/new" sec:authorize="isAnonymous()">회원가입</a></li>
                    <li><a href="/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
                    <li><a href="/admin/product/index" sec:authorize="hasRole('ADMIN')">관리자페이지</a></li>
                    <li><a href="/user/myPage">마이페이지</a></li>
                    <li><a href="/user/orderCheck">주문조회</a></li>
                    <li><a href="/user/cart">장바구니(<span>0</span>)</a></li>
                    <li><a href="#">최근본상품(<span>12</span>)</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="return false;"></a>
            </li>
        </ul>
    </div>
</header>
<nav xmlns:sec="http://www.w3.org/1999/xhtml">
    <a href="#" onclick="return false;">✕</a>
    <div id="naviBox">
        <ul>
            <li>
                <p>상품</p>
                <ul>
                    <li><a href="#">크로스백</a></li>
                    <li><a href="#">숄더백</a></li>
                    <li><a href="#">클러치</a></li>
                    <li><a href="#">지갑</a></li>
                    <li><a href="#">백팩</a></li>
                </ul>
            </li>
            <li>
                <p>커뮤니티</p>
                <ul>
                    <li><a href="/noticeList">공지사항</a></li>
                    <li><a href="/qnaList">상품문의</a></li>
                    <li><a href="#">리뷰</a></li>
                </ul>
            </li>
            <li>
                <p>내계정</p>
                <ul>
                    <li><a href="/login" sec:authorize="isAnonymous()">로그인</a></li>
                    <li><a href="/join/new" sec:authorize="isAnonymous()">회원가입</a></li>
                    <li><a href="/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
                    <li><a href="/admin/product/index" sec:authorize="hasRole('ADMIN')">관리자페이지</a></li>
                    <li><a href="/user/myPage">마이페이지</a></li>
                    <li><a href="/user/orderCheck">주문조회</a></li>
                    <li><a href="/user/cart">장바구니(<span>0</span>)</a></li>
                    <li><a href="#">최근본상품(<span>0</span>)</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="search">
    <a href="#" onclick="return false;">✕</a>
    <div id="searchBox">
        <p>Search</p>
        <form>
            <input type="search" placeholder="검색어를 입력해주세요">
            <button type="submit"></button>
        </form>
    </div>
</div>
<div xmlns:th="http://www.w3.org/1999/xhtml" id="notice" th:if="${msg}">
    <div>
        <p th:text="${msg}"></p>
        <a href="#" onclick="return false;">확인</a>
    </div>
</div>