<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_qna_show.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/header.js"></script>
    <title>관리자 - 상품문의/답변 보기</title>
</head>
<body>
    <th:block th:include="layouts/admin_header"></th:block>
    <main>
        <div class="box">
            <p class="boxTitle">상품문의 보기</p>
            <div id="showBox">
                <div>
                    <img th:src="${product.productRepresentativeImgSrc}">
                    <a th:href="'/admin/product/' + ${product.productId} + '/show'" th:text="${product.productName}"></a>
                </div>
                <ul>
                    <li>
                        <p>제목</p>
                        <p th:text="${QnA.QnAQuestionTitle}"></p>
                        <p></p>
                    </li>
                    <li>
                        <p>내용</p>
                        <p th:text="${QnA.QnAQuestionContent}"></p>
                    </li>
                    <li>
                        <p>작성자</p>
                        <p th:text="${username}"></p>
                    </li>
                    <li>
                        <p>조회수</p>
                        <p th:text="${QnA.QnAViews}"></p>
                    </li>
                    <li>
                        <p>등록일</p>
                        <p th:text="${#temporals.format(QnA.QnACreateDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    </li>
                </ul>
            </div>
            <div class="buttonBox">
                <a th:href="'/admin/qna/' + ${QnA.QnAId} + '/delete'">삭제</a>
                <a href="/admin/qna/index">목록</a>
            </div>
            <div id="answerBox">
                <p>답변 보기</p>
                <p th:utext="${QnA.QnAAnswer != null ? '<span>등록일</span>' + #temporals.format(QnA.QnAAnswerDate, 'yyyy-MM-dd HH:mm:ss') : ''}"></p>
                <p th:text="${QnA.QnAAnswer}"></p>
            </div>
            <div class="buttonBox">
                <a th:href="'/admin/qna/' + ${QnA.QnAId} + '/insert'">수정</a>
                <a th:href="'/admin/qna/' + ${QnA.QnAId} + '/answer/delete'">삭제</a>
            </div>
        </div>
    </main>
</body>
</html>