<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_product_index.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/admin_header.js"></script>
    <script src="/js/admin_index.js"></script>
    <title>관리자 - 상품 목록</title>
</head>
<body>
    <th:block th:include="layouts/admin_header"></th:block>
    <main>
        <div class="box">
            <p id="boxTitle">상품 목록</p>
            <form id="selectBox">
                <a href="#">삭제</a>
                <select>
                    <option value="" hidden>검색분류</option>
                    <option value="구분">구분</option>
                    <option value="상품명">상품명</option>
                    <option value="모델명">모델명</option>
                    <option value="판매가">판매가</option>
                    <option value="할인가">할인가</option>
                    <option value="등록일">등록일</option>
                </select>
                <input type="search">
                <button type="submit">검색</button>
            </form>
            <div id="indexBox">
                <table>
                    <colgroup>
                        <col width="70px">
                        <col width="70px">
                        <col width="150px">
                        <col width="393px">
                        <col width="180px">
                        <col width="180px">
                        <col width="150px">
                        <col width="150px">
                        <col width="155px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all"></th>
                            <th>No</th>
                            <th>구분</th>
                            <th>상품명 (모델명)</th>
                            <th>판매가</th>
                            <th>할인가</th>
                            <th>판매여부</th>
                            <th>등록일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox" class="check"></td>
                            <td>1</td>
                            <td>크로스백</td>
                            <td><a href="/admin/product/show">크로스백 옐로우 (MH-531)</a></td>
                            <td>55000</td>
                            <td>49000</td>
                            <td>1</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/product/show">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>백팩</td>
                            <td><a href="/admin/product/show">백팩 그레이 (MH-432)</a></td>
                            <td>55000</td>
                            <td>49000</td>
                            <td>1</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/product/show">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>지갑</td>
                            <td><a href="/admin/product/show">지갑 블랙 (MH-251)</a></td>
                            <td>55000</td>
                            <td>49000</td>
                            <td>0</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/product/show">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pageBox">
                <a href="#">〈</a>
                <a href="#">1</a>
                <a href="#" style="background-color: #548235; color: white;">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">〉</a>
            </div>
        </div>
    </main>
</body>
</html>