<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/adminsCss/admin_qna_index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/header.js"></script>
    <title>관리자 - 상품문의 목록</title>
</head>
<body>
    <th:block th:include="layouts/admin_header"></th:block>
    <main>
        <div class="box">
            <p id="boxTitle">상품문의 목록</p>
            <form id="selectBox">
                <select>
                    <option value="" hidden>검색분류</option>
                    <option value="상품명">상품명</option>
                    <option value="제목">제목</option>
                    <option value="작성자">작성자</option>
                    <option value="등록일">등록일</option>
                </select>
                <input type="search">
                <button type="submit">검색</button>
            </form>
            <div id="indexBox">
                <table>
                    <colgroup>
                        <col width="50px">
                        <col width="70px">
                        <col width="150px">
                        <col width="150px">
                        <col width="263px">
                        <col width="140px">
                        <col width="70px">
                        <col width="150px">
                        <col width="155px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>No</th>
                            <th>구분</th>
                            <th>상품명</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>등록일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>상품문의</td>
                            <td>지갑 블루블랙</td>
                            <td><a href="/admin/qna/insert">지갑 블루블랙 상품 관련 문의 드립니다</a></td>
                            <td><a href="/admin/user/show">dkfje3456</a></td>
                            <td>5</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/qna/insert">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>상품문의</td>
                            <td>크로스백 옐로우</td>
                            <td><a href="/admin/qna/insert">배송문의 드립니다</a></td>
                            <td><a href="/admin/user/show">edkfsfe134</a></td>
                            <td>51</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/qna/insert">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                        <tr> <!-- 리스트 하나 -->
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>상품문의</td>
                            <td>백팩 그레이 체크패턴</td>
                            <td><a href="/admin/qna/show">가방 내부 지퍼여부 확인</a></td>
                            <td><a href="/admin/user/show">dkwqa735</a></td>
                            <td>15</td>
                            <td>2024-06-04</td>
                            <td>
                                <a href="/admin/qna/show">보기</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttonBox">
                <a href="#">삭제</a>
            </div>
        </div>
    </main>
    <th:block th:include="layouts/footer"></th:block>
</body>
</html>