.box {
    margin: 0 auto;
    width: 430px;
    margin-top: 230px;
}
.box > p:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 60px;
}
#findBox > p:not(:last-child) {
    margin-bottom: 10px;
}
#findBox > p label {
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    font-size: 16px;
}
#findBox > p input {
    box-sizing: border-box;
    display: inline-block;
    width: 65%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#findBox button {
    box-sizing: border-box;
    width: 100%;
    background-color: #548235;
    padding: 10px;
    border: 1px solid #548235;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    cursor: pointer;

}

