.box {
    width: 830px;
    margin: 0 auto;
}
#boxTitle { /* 제목 */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}
#editBox ul {
    list-style: none;
    padding: 0;
}
#editBox ul li {
    padding: 25px 10px;
}
#editBox ul li > p:nth-child(1), #editBox ul li > label {
    display: inline-block;
    width: 200px;
    padding: 7px 0;
    font-weight: bold;
    vertical-align: top;
}
#editBox ul li > input {
    box-sizing: border-box;
    padding: 7px;
    width: 600px;
}
#editBox ul li > p:nth-child(2) {
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    padding: 7px 9px;
}
#editBox ul li > div:nth-child(2) {
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    padding: 7px;
}
#editBox ul li > div:nth-child(2) > div { /* 배송지 추가 */
    border-bottom: 1px solid #ccc;
    padding-left: 7px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#editBox ul li > div:nth-child(2) > div:last-child { /* 마지막 영역 선 제거 */
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
#editBox ul li > div:nth-child(2) > div > p {
    padding: 3px 0;
}
#editBox ul li > div:nth-child(2) > div > p > span:nth-child(1) {
    display: inline-block;
    width: 85px;
    color: #888;
    font-weight: bold;
    vertical-align: top;
    padding: 7px 0;
}
#editBox ul li > div:nth-child(2) > div > p > span:nth-child(2) {
    display: inline-block;
    width: 485px;
}
#editBox ul li > div:nth-child(2) > div > p input {
    padding: 7px;
}
#editBox ul li > div:nth-child(2) > div > p:nth-child(1) > span:nth-child(2) > input {
    box-sizing: border-box;
    width: 120px;
}
#editBox ul li > div:nth-child(2) > div > p:nth-child(1) > span:nth-child(2) > span:nth-child(2) {
    font-size: 15px;
    display: inline-block;
    border: 1px solid #548235;
    background-color: white;
    color: #548235;
    border-radius: 10px;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 7px;
}
#editBox ul li > div:nth-child(2) > div > p > input:nth-child(2) {
    width: 486px;
    box-sizing: border-box;
}
#editBox ul li > div:nth-child(2) > div > p:nth-child(3) > span:nth-child(2) > span > input {
    display: inline-block;
    width: 120px;
    box-sizing: border-box;
}
#editBox ul li > div:nth-child(2) > div > p:nth-child(3) > span:nth-child(2) > span > span {
    font-size: 15px;
    display: inline-block;
    border: 1px solid #548235;
    background-color: #548235;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 7px;
}
#editBox ul li > div:nth-child(2) > div > p:nth-child(3) > span:nth-child(2) > input {
    display: block;
    width: 486px;
    box-sizing: border-box;
}
.buttonBox {
    text-align: center;
    margin-top: 30px;
}
.buttonBox button:nth-child(1) {
    background-color: #548235;
    width: 80px;
    padding: 10px;
    border: 1px solid #548235;
    border-radius: 10px;
    color: white;
}
.buttonBox button:nth-child(2) {
    background-color: white;
    width: 80px;
    padding: 10px;
    border: 1px solid #548235;
    border-radius: 10px;
    color: #548235;
    margin-left: 10px;
}
.buttonBox button:hover {
    font-weight: bold;
}


